.messageCard {
  margin-bottom: 0.1rem;
  overflow: visible;
  padding: 0.5rem;
}
.cardTitle{
  --card-padding-lg:0;
  --card-padding:0;
}
.iconMenu{
  text-align: none!important;
  float: left;
}
.input{
  float:right;
  --input-padding:0;
}

.addr{
  float: left;
  width:20%;
}
.ip{
  float: right;
}

